
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@600&display=swap');
.navbar{
  height: 100px;
  background-color: #344D67;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.navContainer{
  width: 100%;
  font-weight: 500;
  max-width: 1024px;  
  color:#f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  position: absolute;
  top:30px;
  padding: 10px;
  font-weight: 600;
  line-height: 20px;
  font-size:x-large; 
  font-family: 'Poppins', sans-serif;
}
img{
  width:50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.navButton{
  background-color: #ADE792;
  border: 1px solid #344D67;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  margin: 1rem;
  cursor: pointer;
}
